<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<h1>Admin Panel</h1>

<h2>List of Users</h2>
    
<table>
    <tr>
      <th>Users</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% allUsers.forEach((users) =>{ %>
    <tr>
        <td><%= users.username %></td>
        <td><button><a style="text-decoration: none;" href="/edit/<%= users._id %>">Update</a></button></td>
        <form action="/<%= users._id %>?_method=DELETE" method="post">
          <td><button type="submit">Delete</button></td> 
        </form>
    </tr>
    <% }) %>
  </table>
  <button><a href="/logout">Sign Out</a></button>

