<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

<h1>Admin Panel</h1>

<h2>List of Users</h2>
    
<table>
    <tr>
      <th>Users</th>
    </tr>
    <% allUsers.forEach((users) =>{ %>
    <tr>
        <td><%= users.username %></td>
    </tr>
    <% }) %>
  </table>


