<h1>Edit your username</h1>


<form action="/edit/<%=  %>?_methdo=PUT" method="post">
    <input type="text" name="username" id="" required value="<%= allUsers.%>">
    <button type="submit">Login</button>
</form>
