<h1>Login page</h1>
<form action="/login" method="post">
    <input type="text" name="username" id="" required>
    <input type="password" name="password" id="" required>
    <button type="submit">Login</button>
</form>
